<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Configure watched SC variables</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <form>
                <div class="watched-variables-container">
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-lg btn-primary btn-add-watch mt-2" title="Add new watch">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </form>

            <div class="alert alert-danger validation-errors-container d-none"></div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>