<nav class="bg-white navbar navbar-expand-lg navbar-light override">
    <span class="navbar-brand">
        <img src="/static/app/img/logo.png" />
        <span class="product"></span>
    </span>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item d-none">
                <span class="nav-link override" data-view="Workspace" title="Workspace"><i class="fas fa-folder-open"></i></span>
            </li>
            <li class="nav-item">
                <span class="nav-link active override" data-view="Debug" title="Debug"><i class="fas fa-bolt"></i>&nbsp;Debug</span>
            </li>
            <li class="nav-item">
                <span class="nav-link override" data-view="DebugOnTestnet" title="Testnet"><i class="fas fa-network-wired"></i>&nbsp;Testnet</span>
            </li>
            <li class="nav-item d-none">
                <span class="nav-link override" data-view="RestDialogue">REST dialogue</span>
            </li>
            <li class="nav-item">
                <span class="nav-link override" data-view="Variables" title="Variables (placeholders)"><i class="fas fa-clipboard-list"></i>&nbsp;Variables</span>
            </li>
        </ul>
    </div>
</nav>