<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Run Smart Contract Function</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <form>
                <fieldset>
                    <legend>Run function</legend>
                    [[ var properties = onTestnet ? contract.PropertiesOnTestnet : contract.PropertiesOnNodeDebug; ]]
                    [[ if (onTestnet) { ]]
                    <div class="form-group">
                        <label class="">Private key:</label>
                        <input class="form-control" type="file" name="PrivateKeyFile" accept=".pem" />
                    </div>
                    [[ } else { ]]
                    <div class="form-group">
                        <label class="">Sender address:</label>
                        <input class="form-control" name="SenderAddress" type="text"
                            value="[[= properties.LatestRun.Options.senderAddress ]]" />
                    </div>
                    [[ } ]]

                    <div class="form-group">
                        <label>Function name</label>
                        <input name="FunctionName" type="text" class="form-control" required
                            placeholder="myExportedFunction" value="[[= properties.LatestRun.Options.functionName ]]">
                        <small class="form-text text-muted">An exported function of your smart
                            contract.</small>
                    </div>
                    <div class="form-group">
                        <label>Function arguments</label>
                        <textarea name="FunctionArgs" class="form-control"
                            rows="3">[[= properties.LatestRun.Options.functionArgs.join("\n") ]]</textarea>
                    </div>
                    <div class="form-text">
                        Use a line break to seprate more arguments.
                        <strong>
                            Arguments that start with <kbd>0x</kbd> will be sent as they are, with the prefix removed.
                            Other arguments will be interpreted as numbers and converted to hex before sending.
                        </strong>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Value</label>
                                <input name="Value" type="text" class="form-control" required placeholder="0"
                                    value="[[= properties.LatestRun.Options.value ]]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Gas limit</label>
                                <input name="GasLimit" type="number" class="form-control" required placeholder="50000"
                                    value="[[= properties.LatestRun.Options.gasLimit ]]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Gas price</label>
                                <input name="GasPrice" type="number" class="form-control" required placeholder="10"
                                    value="[[= properties.LatestRun.Options.gasPrice ]]">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="alert alert-danger validation-errors-container d-none"></div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-submit">Run</button>
        </div>
    </div>
</div>