<div class="variables-view">
    <div class="row mt-2">
        <div class="col-sm-12">
            <p class="mt-2">
                Here you can define variables you can use when deploying smart contracts or running smart contracts functions.<br />
                For example, if you define a variable named <strong>x</strong>, 
                then you can reference it in the deploy / run input fields like this: <strong>$x</strong>.
            </p>

            <form>
                <div class="form-group">
                    <label>Variables (JSON)</label>
                    <textarea name="Variables" class="form-control" rows="10"></textarea>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-lg btn-block btn-primary btn-submit">
                            <i class="fas fa-save"></i>&nbsp;
                            Save
                        </button>
                    </div>
                </div>
            </form>

            <div class="alert alert-info value-response d-none mt-2 text-center"></div>
            <div class="alert alert-danger validation-errors-container d-none mt-2"></div>
        </div>
    </div>
</div>