<!DOCTYPE html>
<html lang="en">

<head>
    </base>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elrond IDE</title>
</head>

<body>
    <script type="text/javascript" src="/static/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/vendor/underscore.min.js"></script>
    <script type="text/javascript" src="/static/vendor/backbone.min.js"></script>

    <script type="text/javascript" src="/static/app/main.js"></script>
</body>

</html>