include erdpy/projects/*.txt
include erdpy/projects/*.json

include erdpy/testnet/wallets/users/*.pem
include erdpy/testnet/wallets/users/*.json
include erdpy/testnet/wallets/users/*.txt
include erdpy/testnet/wallets/validators/*.pem
include erdpy/testnet/wallets/validators/*.json
include erdpy/testnet/wallets/validators/*.txt
include erdpy/testnet/wallets/observers/*.pem
include erdpy/testnet/wallets/observers/*.json
include erdpy/testnet/wallets/observers/*.txt
