.squares {
    background: #efefef;
    margin: -.15em;
}
.square-block {
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
    margin: .15em;
    float: left;
    border: .1em solid $blue;
    // -webkit-box-shadow: 1px 1px 3px 0 #a3a3a3;
    // -moz-box-shadow: 1px 1px 3px 0 #a3a3a3;
    // box-shadow: 1px 1px 3px 0 #a3a3a3;
    border-radius: 2px;

    &.full {
        background-color: $blue;
    }
}

